@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.experience-container {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #003366;
  text-transform: uppercase;
  border-bottom: 2px solid #003366;
  padding-bottom: 0.5rem;
}

.experience-item {
  margin-bottom: 2px;
  overflow: scroll;
}

.experience-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  gap: 5px;
}

.experience-header h3 {
  font-size: 1.2rem;
  margin: 0;
  color: #333;
}

.date {
  font-size: 0.9rem;
  color: #575454;
  font-style: italic;
}

ul {
  margin: 0;
  padding-left: 1.5rem;
}

.experience-container li {
  font-family: "Abel", serif;
  font-weight: 60;
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  color: #0c0b0b;
}

@media (max-width: 500px) {
  .experience-container h2 {
      font-size: 0.875rem; 
  }
  .experience-header h3 {
      font-size: 0.8rem; 
  }
  .experience-header p {
      font-size: 0.875rem; 
  }
  .experience-container li {
      font-size: 0.7rem; 
  }
}
