/* General footer styling */
.footer-c{
    background-color: #778088; /* Dark background */
    color: #fff; /* White text */
    padding: 1px 0; /* Space around the footer */
    text-align: center; /* Center-align text and content */ 
  }
  /* Footer container */
  .footer-container {
    max-width: 1200px; /* Keep content width limited */
    margin: 0 auto; /* Center content */
  }
  
  /* Footer text */
  .footer-text {
    font-size: 1rem;
    margin-bottom: 1rem; /* Space below the text */
  }

  .dark-mode .footer-c{
    background-color: black; /* Darker background in dark mode */
  }

 
  /* Responsive footer for smaller screens */
  @media (max-width: 768px) {
    .footer-text {
      font-size: 0.875rem; /* Reduce font size */
    }
  }
  